.layout {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}

.login-container {
  background-color: #e990f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 44px;
  padding: 4rem 0 2rem;
  flex: 0 1 32rem;
}

.login-btn {
  margin-top: 6rem;
  padding: 1rem 0.5rem;
  width: 9.5rem;
  border-radius: 36px;
  border: solid 3px #ffffff;
  color: white;
  background-color: transparent;
  font-size: 1.3rem;
  font-weight: bold;
}

.mobile-face {
  display: none;
}

@media only screen and (max-width: 768px) {

  .mobile-face {
    display: block !important;
    width: 15rem;
    height: 20rem;
  }

  .login-container {
    background-color: transparent;
    flex: 1 1 auto;
    height: 100%;
    padding: 0;
    justify-content: space-around;
  }

  .login-btn {
    border-color: #e990f9;
    color: #e990f9;
    font-size: 2rem;
    margin-top: 0;
    width: 15rem;
  }

  .desktop-face {
    display: none;
  }
}