.modal-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.modal-window {
  display: flex;
  flex-direction: column;
  background-color: #7ed321;
  border-radius: 36px;
  width: 32rem;
}

.cancel-btn {
  border: none;
  background-color: transparent;
  padding: 1.5rem;
  align-self: flex-end;
  size: 1.6rem;
  object-fit: contain;
}

.form-layout {
  display: flex;
  flex-direction: column;
  margin: 0 5rem 4rem 5rem;
}

.form-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0.9rem 0;
}

.field-input {
  border: solid 1px #979797;
  border-radius: 7px;
  height: 1.8rem;
  width: 15rem;
}

.form-submit {
  width: 100%;
  margin-top: 1.9rem;
  height: 2.8rem;
  font-size: 1.2rem;
  background-color: transparent;
  color: white;
  border: solid 2px #ffffff;
  border-radius: 25px;
}

@media only screen and (max-width: 768px) {
  .form-field {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .field-input {
    margin-top: 0.8rem;
    width: 100%;
    font-size: 1.4rem;
  }

  .field-label {
    font-size: 1.3rem;
  }

  .form-submit {
    font-size: 1.4rem;
    margin-top: 3rem;
    height: 3.8rem;
    border-radius: 36px;
  }

  .modal-window {
    margin: 0 3rem;
  }

  .form-layout {
    margin: 0 4rem 3rem 4rem; 
  }
}